<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejs Layout</title>
</head>
<body>
    <header style="border-bottom: 5px solid black">
        <h1>Ahebeh || Akreha</h1>
        <li><a href="/aheba/animals">Favorite Animals</a></li>
        <li><a href="/aheba/foods">Favorite Foods</a></li>
        <li><a href="/akreha/movies">Worst Movies</a></li>
        <li><a href="/akreha/products">Worst Products</a></li><br>
    </header>
    <!-- This puts the body from home.ejs after the layout -->
    <%- body %>
</body>
</html>